html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end reset */

body {
  background: #000;
}

span {
  color: #00BCD4;
}

div {
  color: white;
  font-family: 'Alegreya Sans', sans-serif;
  text-transform: uppercase;
}

p {
  color: black;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 12px;
  text-transform: none;
}

}

.title {
  display: relative;
  text-align: center;
  color: white;
  font-size: 36px;
  padding-top: 50px;
}

.sub-title {
  display: relative;
  text-align: center;
  color: white;
  font-size: 22px;
  padding-top: 10px;
  padding-bottom: 25px;
}

.options-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 10%;
  top: 40%;
}

.speed {
  padding-bottom: 5px;
}

.speed-subtitle {
  text-transform: none;
  font-size: 12px;
  padding-bottom: 10px;
}

.size {
  padding-top: 20px;
  padding-bottom: 5px;
}

.size-subtitle {
  text-transform: none;
  font-size: 12px;
  padding-bottom: 10px;
}

.generate-button {
  display: relative;
  text-align: center;
  color: white;
  font-size: 22px;
  padding-top: 10px;
}

#generate-button {
  border: 0;
  color: white;
  background-color: transparent;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  padding: 8px 16px;
  line-height: 19px;
  margin-top: 20px;
  -webkit-transition: background 200ms; /* Safari */
  transition: background 200ms;
  transition-timing-function: linear;
  cursor: pointer;
}

#size {
  border: 0;
  color: black;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 12px;
  padding: 5px;
  -webkit-transition: background 200ms; /* Safari */
  transition: background 200ms;
  transition-timing-function: linear;
}

.color {
  padding-top: 20px;
  padding-bottom: 5px;
}

.color-subtitle {
  text-transform: none;
  font-size: 12px;
  padding-bottom: 15px;
}

.color-selectors {
}

#gradient-color-one {
  margin-right: 10px;
}

/* modal*/
#modal-button {
  border: 0;
  color: white;
  background-color: transparent;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  padding: 8px 16px;
  line-height: 19px;
  margin-top: 20px;
  -webkit-transition: background 200ms; /* Safari */
  transition: background 200ms;
  transition-timing-function: linear;
  cursor: pointer;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.maze-container {
  display: flex;
  justify-content: center;
}
